h1,
h2,
a,
input {
    font-family: "Quicksand", sans-serif;
}

img {
    height: 250px;
    width: auto;
}

.logo {
    float: left;
    height: auto;
    width: 120px;
}

.welcomeContainer,
.loginContainer {
    margin: 50px;
    text-align: center;
}

.inputFields {
    width: 380px;
    height: 50px;
    font-size: 24px;
}

.member {
    font-family: "Quicksand", sans-serif;
    font-size: 22px;
    color: dimgrey;
}

button {
    width: auto;
    height: 50px;
    font-size: 20px;
}

.icons {
    height: 30px;
    width: auto;
}

.profile,
.closet,
.outfits {
    margin: 5px;
    padding: 5px;
}

.menu {
    display: flex;
    flex-direction: column;
    font-family: "Quicksand", sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    float: right;
}

.container {
    margin: 0.5rem;
    max-width: 400px;
}

.swipecontainer {
    padding: 1em;
}

.swipe {
    padding-top: 150px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 1000px;
    height: 700px;
}

.hollow {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.float-right {
    width: 50px;
    height: auto;
    float: right !important;
}

.float-left {
    width: 50px;
    height: auto;
    float: left !important;
}

#CarouselTops {
    width: auto;
    height: 300px;
}

#CarouselBottoms {
    padding-top: 350px;
    width: auto;
    height: 500px;
}

#CarouselFootwear {
    padding-top: 200px;
    width: auto;
    height: 100px;
    bottom: 0;
}
